

.home{
    background: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
.home__image{ 
    display: flex;
    /* background: green; */
    flex:3;
    /* justify-content: center; */
    /* align-items: center; */
    margin:0px;
}

.home__info{
    display: flex;
    /* background:gray; */
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home__info > h1, span, p{
    margin:0;
    text-align: center;
}
.home__info > h1{
    font-weight: bold;
}

.mockup{
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
}